name: Run ruff, mypy and build docs

on:
  workflow_dispatch:
  pull_request_target:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest]
        python-version: ["3.13"]

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true

      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Style checking
        run: |
          uv run ruff check
          uv run ruff format --check
        continue-on-error: true

      - name: Type checking
        run: |
          uv run mypy prc_challenge scripts
        continue-on-error: true

      - name: Build docs
        run: uv run mkdocs build
        continue-on-error: true